{{!-- Modal close button --}}
<button class="modal-video-close" {{action "closeModal"}}>close</button>

{{!-- Video Overlay --}}
<div class="yt-overlay"></div>

{{!-- Video Target --}}
<div id="player" class="yt-player"></div>

{{#if customControls}}
{{!-- #Video UI --}}
<div class="yt-controls">

    {{!-- Clock --}}
    <div class="yt-duration">{{seconds-to-minutes this.time}} / {{seconds-to-minutes this.duration}}</div>

    {{!-- Play/Pause button --}}
    <button class="yt-toggle" {{action "toggleVideo"}}>
        <span class="yt-toggle-icon {{unless isPlaying "is-paused"}}">Toggle</span>
    </button>

    {{!-- Progress Bar / Scrub --}}
    <div class="progress-container">
        {{!-- <div class="progress-appearance"></div> --}}
        <div class="progress"></div>
    </div>

    {{!-- Fullscreen button --}}
    {{!-- <button class="yt-fullscreen-toggle" {{action "toggleFullscreen"}}>Fullscreen</button> --}}

</div>{{!-- #Video UI --}}
{{/if}}