<button class="modal-video-close" {{action "closeModal"}}>close</button>
{{!-- <iframe src={{videoUrl}} frameborder="0" type="text/html" class="modal-trailer-holder-iframe"></iframe> --}}
<div id="player"></div>

<button class="player-toggle" {{action "toggleVideo"}}>
    <span class="player-toggle-play">Play</span>
</button>

<div class="progress-container">
    <div class="progress"></div>
</div>


<div class="video-duration">{{seconds-to-minutes this.time}} / {{seconds-to-minutes this.duration}}</div>