{{!-- Custom Content --}}
{{yield}}

{{!-- Close Button --}}
<button class="youtube-modal__close" {{action "closeModal"}}>
    {{{close-icon this.closeIcon}}}
</button>

{{!-- YouTube Wrapper --}}
<div class="yt-wrapper">

    {{!-- Video Overlay --}}
    {{#if videoOverlay}}
        <div class="yt-overlay"></div>
    {{/if}}

    {{!-- Video Target --}}
    <div id="player" class="yt-player"></div>

    {{#if customControls}}
    {{!-- #Video UI --}}
        <div class="yt-controls">
            <div class="yt-controls-wrapper">
                {{!-- Play/Pause button --}}
                <button class="yt-toggle" {{action "toggleVideo"}}>
                    {{!-- Play/Pause Icon --}}
                    {{#if this.playIcon}}
                        {{!-- Custom Play/Pause Icon --}}
                        <div class="yt-toggle-icon-holder {{unless isPlaying "is-paused"}}">
                            {{!-- Custom Play Icon --}}
                            <div class="yt-toggle-icon mod-play">
                                {{{play-icon this.playIcon}}}
                            </div>
                            {{!-- Custom Pause Icon --}}
                            {{{pause-icon this.pauseIcon}}}
                        </div>
                    {{else}}
                        {{!-- Default Icon --}}
                        <div class="yt-toggle-icon mod-toggle {{unless isPlaying "is-paused"}}">
                            {{{play-icon this.playIcon}}}
                        </div>
                    {{/if}}
                </button>

                {{!-- Clock --}}
                <div class="yt-duration">{{seconds-to-minutes this.elapsedTime}} <span class="yt-duration-divider">{{duration-divider this.durationDivider}}</span> {{seconds-to-minutes this.duration}}</div>

                {{!-- Progress Bar / Scrub --}}
                <div class="progress-container">
                    <div class="progress-bar"></div>
                </div>

                {{!-- Fullscreen button --}}
                {{!-- <button class="yt-fullscreen-toggle" {{action "toggleFullscreen"}}>Fullscreen</button> --}}
            </div>

        </div>{{!-- #Video UI --}}
    {{/if}}
</div>