{{!-- THE SINGLE SOURCE OF TRUTH MODAL --}}
{{youtube-modal
    customControls = true
}}


{{!-- BUTTONS EXAMPLES --}}
<div class="buttons">
    <button {{action "openModal" listOfVideos.gleason}}>Open Gleason Trailer</button>
    <button {{action "openModal" listOfVideos.mothersday}}>Open Gleason Trailer</button>
    <button {{action "openModal" listOfVideos.bleedforthis}}>Open Gleason Trailer</button>
</div>


{{!-- GALLERY EXAMPLES --}}
<div class="gallery">
{{#each-in listOfVideos as |key item|}}
    <a href="#" {{action 'openModal' item}}>
        <img src="http://placehold.it/300x250" alt="">
        <div>{{item.title}}</div>
    </a>
{{/each-in}}
</div>


{{!-- OUTLET --}}
{{outlet}}